<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seecen.dao.UserDao">
    <resultMap id="UserMap" type="User">
        <id property="id" column="userid"/>
        <result property="name" column="username"/>
        <result property="pass" column="password"/>
    </resultMap>
    <select id="queryAllUser" resultMap="UserMap">
        select * from tb_user
    </select>
    <select id="queryUserById" parameterType="int" resultMap="UserMap">
        select * from TB_USER where USERID=#{id}
    </select>
</mapper>