<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seecen.dao.UserDao">
    <resultMap id="UserMap" type="User">
        <id property="id" column="usr_ent_id"/>
        <result property="name" column="usr_ste_usr_id"/>
        <result property="pass" column="usr_pwd"/>
    </resultMap>
    <select id="queryAllUser" resultMap="UserMap">
        select * from reguser
    </select>
    <select id="queryUserById" parameterType="int" resultMap="UserMap">
        select * from reguser where usr_ent_id=#{id}
    </select>
</mapper>